.miat-wrapper {
    & > .miat {
        width: 100vw;
        transform: translate(-50%, -50%);
    }
    transform-origin: top left;
    animation-duration: 15s;
    position: fixed;
    animation-iteration-count: infinite;
    top: 50vh;
    left: 50vw;

    &.miat-wrapper--snap {
        animation-name: jig-snap;
        animation-timing-function: step-end;
    }

    &.miat-wrapper--smooth {
        animation-name: jig-smooth;
    }

    &.miat-wrapper--stopped {
        animation-name: none !important;
        display: none;
    }
}

@keyframes jig-snap {
    0% {
        transform: scale(0);
    }
    2.5% {
        transform: scaleX(-0.1) scaleY(0.1);
    }
    5% {
        transform: scale(0.3);
    }
}

@keyframes jig-smooth {
    0% {
        visibility: hidden;
    }
}
