$track-length: 15.148s;

.miat-wrapper {
    & > .miat,
    & > .pistola {
        width: 100vw;
        transform: translate(-50%, -50%);
    }
    transform-origin: top left;
    animation-duration: $track-length;
    position: fixed;
    animation-iteration-count: infinite;
    top: 50vh;
    left: 50vw;

    &.miat-wrapper--snap {
        animation-name: jig-snap;
        animation-timing-function: step-end;
    }

    &.miat-wrapper--smooth {
        animation-name: jig-smooth;
    }

    &.miat-wrapper--pistola {
        animation-name: pistola;
        animation-timing-function: step-end;
        transform: translate(9%, 0%) scale(0.12);
    }

    &.miat-wrapper--stopped {
        animation-name: none !important;
        display: none;
    }
}

.blackout {
    animation-name: blackout;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-duration: $track-length;
}

.button {
    border: 2px solid #bbb;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@keyframes jig-snap {
    0% {
        transform: scale(0);
    }
    2.5% {
        transform: scaleX(-0.1) scaleY(0.1);
    }
    5% {
        transform: scaleX(-0.2) scaleY(0.2);
    }
    6.25% {
        transform: scale(0.2);
    }
    7.5%,
    10%,
    11.25%,
    12.5%,
    13.75%,
    15%,
    16.25%,
    17.5%,
    18.75% {
        transform: scaleX(-0.35) scaleY(0.35);
    }
    10.625%,
    11.875%,
    13.125%,
    14.375%,
    15.625%,
    16.875%,
    18.125%,
    19.395% {
        transform: scaleX(0.35) scaleY(0.35);
    }
    20% {
        transform: scale(0);
    }
    35% {
        left: 80vw;
        top: 80vh;
        transform: scale(-0.2, 0.2);
    }
    37.5% {
        left: 75vw;
        top: 75vh;
        transform: scale(-0.3, 0.3);
    }
    40% {
        left: 67vw;
        top: 67vh;
        transform: scale(-0.4, 0.4);
    }
    42.5% {
        top: 50vh;
        left: 50vw;
        transform: scale(0);
    }
    75% {
        transform: scale(-0.4, 0.4);
    }
    77.5% {
        transform: scale(-0.3, 0.3);
    }
    80% {
        transform: scale(-0.23, 0.23);
    }
    82.5% {
        transform: scale(0);
    }
    92% {
        transform: scaleX(-0.3) scaleY(0.3);
    }
    95% {
        transform: scale(0);
    }
}

@keyframes blackout {
    95% {
        background-color: black;
    }
}

@keyframes pistola {
    0% {
        opacity: 0;
    }
    93.5% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
}

@keyframes jig-smooth {
    0%,
    19.99999% {
        opacity: 0;
    }
    20% {
        opacity: 1;
        left: 110vw;
        top: 110vh;
        transform: scaleX(-0.2) scaleY(0.2) rotate(0deg) translateX(300vw) rotate(0deg);
    }
    24.99999% {
        opacity: 1;
        left: 110vw;
        top: 110vh;
        transform: scaleX(-0.2) scaleY(0.2) rotate(-90deg) translateX(300vw) rotate(90deg);
    }
    25% {
        opacity: 0;
    }
    29.9999% {
        opacity: 0;
        left: 110vw;
        top: 110vh;
    }
    30% {
        opacity: 1;
        left: 80vw;
        top: 80vh;
        transform: translate(20vw, 20vh) scaleX(-0.05) scaleY(0.05);
    }
    34.99999% {
        opacity: 1;
        left: 80vw;
        top: 80vh;
        transform: scale(-0.2, 0.2);
    }
    35%,
    44.99999% {
        opacity: 0;
    }
    45% {
        opacity: 1;
        left: 65vw;
        top: 55vh;
        transform: scale(-1.8, 1.8);
    }
    65%,
    67.49999% {
        opacity: 1;
        left: 65vw;
        top: 55vh;
        transform: scale(-0.7, 0.7);
    }
    67.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
